body {
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  /*background: #240b36;  fallback for old browsers 
  background: linear-gradient(to right, #000000, #e70808);*/
  background-image: url("./res/fancy-pants.jpg");
  background: linear-gradient(45deg, #000000, #0000007e),
    url("./res/fancy-pants.jpg");
  background-repeat: repeat;
}

/* ScrollBar */
body::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(24, 24, 24); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 94, 172); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 8px solid rgb(15, 15, 15); /* creates padding around scroll thumb */
}

/* Main Par starts here */

header {
  margin: 4%;
}

.card {
  border: 5px;
  background-color: rgb(19, 19, 19);
  margin: 2%;
  padding: 2% 2%;
}

.floatL {
  float: left;
}
